*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    text-decoration: none;
}
html,body{
    height: 115%;
    width: 100%;
    
}
hr{
    width: 22%;
    margin-left: 18.5%;
    border: 3px solid #90AEAE;
    
}
#head{
    height: 50%;
    width: 100%;
    background-color:#024951;
    color:white;
    
}
#part1{
    display: flex;
    justify-content:center;
   

}
#part1 a{
    color:white;
}
#part3 a{
    color: white;
}

#part1 h1{
    font-size:50px;
    font-weight:50;
    line-height: 45px;
    padding-top: 45px;
    padding-right: 220px;
    
} 
#part1 a:hover{
    color: #90AEAE;;
}
#part2{
    
    padding-top: 60px;
    
}
#part2 h4{
    padding-left: 150px;
   
}
#part2 ul{

    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-top: 25px;


}
#part2 li{
    padding-right: 15px;
}
#part2 h4{
    font-size: 20px;
    font-weight: 100;
}
#part3{
    height: 55%;
    padding-top: 4%;
    
}
#part3 h2{
    display: flex;
    justify-content: center;
    font-size: 250%;
    font-weight: 50;
}
#part3 h4{
    display: flex;
    justify-content: center;
    font-size: 150%;
    font-weight: 50;
    letter-spacing: 1px;
    padding-top: 1%;
}
#button{
        display: flex;
        justify-content: center;
        height:45%;
        width:100%;
        padding-top: 2%;
       
    }
#button1{
    width: 150px;
    background-color: #024951;
    border: solid white 1px;
    border-radius: 6%;  
}
#button1:hover{
    background-color:#90AEAE;
}



#main{
    height: 50%;
    width: 100%;
    background-color:rgb(253, 251, 251);
}
#footer{
    height: 15%;
    width: 100%;
    background-color:  #024951;
}