*{
    margin: 0%;
    padding: 0%;
    background-color: black;

}
#pic{
    display: flex;
    justify-content: center;
    justify-items:center ;
    

}
#pic img{
    border-radius: 50%;
    border: 5px solid white;
    
}
